@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(/imgs/00.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

main {
    margin: 30px;
    text-align: center;
    text-shadow: 0.25em 0.25em 0.6em rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 2.9em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.450);
}

.card {
    margin: 30px;
    width: 25%;
    max-width: 470px;
    background: rgba(0, 0, 0, 0.450);
    text-shadow: 0.25em 0.25em 0.6em rgba(255, 255, 255, 0.1);
    color: #fff;
    margin-top: 5px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin: 5px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.bottom-img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media screen and (min-width: 768px) {
    main {
        font-size: 5em;
    }
}